In [1]:
import pandas as pd

In [8]:
df = pd.read_parquet('Additional_Data/df_User_Activeness.parquet')
df.head()

,ID_CommunityIdentity,Clicks_count_last_900_total_distinct_article_interactions,Clicks_count_last_450_total_distinct_article_interactions,Clicks_count_last_90_total_distinct_article_interactions
0,4,228.0,105.0,178.0
1,19,225.0,NaN,NaN
2,30,267.0,166.0,316.0
3,38,14.0,60.0,317.0
4,44,NaN,NaN,NaN

In [9]:
df = df[['ID_CommunityIdentity','Clicks_count_last_90_total_distinct_article_interactions']]

df.columns = ['UserID','clicks_in_last_90_articles']

df.to_parquet('Filtered_Data/user_click_act.parquet',index=False)